/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Container para o layout */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Menu de Navegação */
nav {
  background-color: #333;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #575757;
  border-radius: 5px;
}

/* Cabeçalho */
header {
  background-color: #333;
  color: white;
  padding: 30px 0;
  text-align: center;
}

header h1 {
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  margin: 10px 0;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Seções */
section {
  margin: 40px 0;
}

/* Seção Sobre Mim */
#about-me .about-content {
  display: flex;
  align-items: center;
}

#about-me img {
  border-radius: 50%;
  margin-right: 20px;
}

#about-me p {
  font-size: 1.1em;
  line-height: 1.6;
}

/* Seção Habilidades */
#skills {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

#skills h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.skill-card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.skill-card h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.skill-card ul {
  list-style-type: none;
  padding: 0;
}

.skill-card li {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #555;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
  .skill-card {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .skill-card {
    width: 100%;
  }
}

/* Seção Educação e Experiência Profissional */
#education, #work-experience {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#education h2, #work-experience h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2em;
  margin: 10px 0;
  color: #555;
}

/* Rodapé */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 1.2em;
}
