body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
  border-radius: 50%;  /* Torna a imagem redonda */
  max-width: 200px;    /* Ajusta o tamanho máximo da imagem */
  margin-bottom: 20px; /* Dá um espaço abaixo da imagem */
  display: block;
  margin-left: auto;
  margin-right: auto;  /* Centraliza a imagem */
}

h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

footer a {
  color: #f4f4f4;
  text-decoration: none;
}
